{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": { "browser": true },
  "settings": {
    "import/resolver": "webpack",
    "import/parser": "babel-eslint"
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ]
  }
}